{% extends 'base.html.twig' %}


{% block body %}
    <h1>Register</h1>

    <form method="POST" action="{{ path('app_save_register') }}">
        <label for="username">Username:</label>
       <input type="text" id="username" name="username"<br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>

         <label for="Authenticator ">Confirm Password:</label>
        <input type="text" id="Authenticator" name="Authenticator"><br>

        <button type="submit">Opslaan</button>
    </form>

{% endblock %}
