{% extends 'base.html.twig' %}

{% block title %}Hello HompageController!{% endblock %}

{% block body %}

<div>
    <h1>Vacatures</h1>
      
   
    <ul>
     {% for item in vacancies %}
     <form>
        <li>
         <p>{{ item.title }}</p>
         <p><img src="{{ item.logoFunctionUrl }}" alt="Vacaturelogo"></p>
         <a href="{{ path('detailpage', {'id': item.id}) }}">Solliciteer</a>
        </li>
     </form>
     {% endfor %}
    </ul>
</div>


{% endblock %}